<div class="flex-col justify-between bg-white h-full summary">
  <div>
    <div class="mb-8">
      <h1 class="text-[#1f4676] font-bold text-2xl tracking-wide mb-1">  Finishing up</h1>
      <div class="text-[#c0c3ce] text-xs font-medium"> Double-check everything looks OK before confirming.</div>
    </div>
    <div class="bg-slate-50 rounded-md p-6">
      <div class="flex justify-between mb-2">
        <div class="block">
          <h1 class="font-semibold text-[#1f4676] text-sm">{{selectedPlan.name}}({{formState.toggle ? 'Yearly' : 'Monthly'}})</h1>
          <button href="" class="underline text-xs font-medium text-neutral-400 mt-4" (click)="onChange()">Change</button>
        </div>
        <div class="text-xs font-bold text-[#1f4676] mt-4">${{formState.toggle ? selectedPlan.price_yearly + '/yr' : selectedPlan.price_monthly + '/mo'}}</div>
      </div>
      <hr>
      <div class="mt-2">
        <div *ngFor="let addon of selectedAddons" class="flex justify-between mb-3">
          <p class="font-medium text-neutral-400 text-xs">{{addon.name}}</p>
          <h3 class="font-medium text-xs text-[#1f4676]">+${{formState.toggle ? addon.price_yearly + '/yr' : addon.price_monthly + '/mo'}}</h3>
        </div>
      </div>
    </div>
    <div class="flex justify-between p-4">
      <h1 class="text-[#c0c3ce] text-xs font-medium">Total ({{formState.toggle ? 'per year' : 'per month'}})</h1>
      <p class="text-blue-700 font-bold text-sm">${{totalPrice}}{{formState.toggle ? '/yr' : '/mo'}}</p>
    </div>
  </div>
  <div class="flex justify-between mt-16">
    <div class="text-slate-500 font-medium text-sm hover:text-blue-900 mt-1"><button href="" (click)="goBackAdd()">Go Back</button></div>
    <div class="">
      <button routerLink="/thank" class="text-white hover:bg-[#114a90] bg-blue-700 px-4 rounded-md text-xs font-medium py-2">Confirm</button>
    </div>
  </div>
</div>
