<!-- <p>menu works!</p> -->
<div class="bg-image">
  <nav class="pt-3">
    <ul>
      <li class="flex items-center">
        <a class="flex items-center" href="" routerLink="info" routerLinkActive="active">
        <div class="info w-7 h-7 rounded-full text-white active:bg-blue-100 active:text-black hover:bg-blue-100 hover:border-none active:border-none hover:text-black m-4 border-2 border-blue-300 bg-transparent font-bold text-center">1</div>
        <div class="">
          <h1 class="text-xs font-medium uppercase">Step 1</h1>
          <span class="uppercase font-semibold text-xs">Your Info</span>
        </div>
        </a>
      </li>

      <li class="flex items-center">
        <a class="flex items-center" routerLink="plan" routerLinkActive="active">
        <div class="info w-7 h-7 rounded-full text-white hover:bg-blue-100 hover:border-none hover:text-black m-4 border-2 border-blue-300 bg-transparent font-bold text-center  cursor-pointer">2</div>
        <div>
          <h1 class="text-xs font-medium uppercase">Step 2</h1>
          <span class="uppercase font-semibold text-xs">Select plan</span>
        </div>
      </a>
      </li>

      <li class="flex items-center">
        <a class="flex items-center" routerLink="add" routerLinkActive="active">
        <div class="info w-7 h-7 rounded-full text-white hover:bg-blue-100 hover:border-none hover:text-black m-4 border-2 border-blue-300 bg-transparent font-bold text-center  cursor-pointer">3</div>
        <div>
          <h1 class="text-xs font-medium uppercase">Step 3</h1>
          <span class="uppercase font-semibold text-xs" >Add-ons</span>
        </div>
      </a>
      </li>

      <li class="flex items-center" >
        <a class="flex items-center" routerLink="summary" routerLinkActive="active">
        <div class="info w-7 h-7 rounded-full text-white hover:bg-blue-100 hover:border-none hover:text-black m-4 border-2 border-blue-300 bg-transparent font-bold text-center  cursor-pointer">4</div>
        <div>
          <h1 class="text-xs font-medium uppercase">Step 4</h1>
          <span class="uppercase font-semibold text-xs">Summary</span>
        </div>
      </a>
      </li>
    </ul>
  </nav>
</div>
